# Ignore macOS system files
.DS_Store

# Ignore node_modules
node_modules/

# Ignore build directories
dist/
build/

# Ignore Sass cache files
.sass-cache/

# Ignore compiled CSS files
*.css.map

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE specific files
.vscode/
.idea/
*.iml