$primary-bg-color: #333;
$secondary-color: #f8f8f8;
$primary-hover-color: #3333339e;
$font-family-default: Helvetica, sans-serif;
$font-family-header: 'Roboto Mono', monospace;
$hover-transition: ease-in-out 0.3s;

@mixin flex-settings ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin nav-parts {
  background-color: $primary-bg-color;
  color: $secondary-color;
  padding: 20px 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-default;
  background-color: $secondary-color;
  min-height: 100%;
}

.container {
  min-height: 100vh;
  @include flex-settings(column, initial, initial);
}

header {
  font-family: $font-family-header;
  @include nav-parts;
}

footer {
  @include nav-parts;
  font-size: 0.9rem;

  span {
    display: block;
    margin: 5px 0;
  }
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: $font-family-header;
  margin: 10px 0;
  align-self: center;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 1.3rem;
}

h2,
h3 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 10px 0;
}

section {
  height: 100%;
  @include flex-settings(column, center, initial);
  padding: 50px 30px;
  flex: 1;
}

.main-links {
  color: $primary-hover-color;
  font-weight: bold;
  text-align: center;
  font-family: $font-family-header;
  margin: 15px 0;
  font-size: 1.1rem;

  &:hover {
    text-decoration: underline;
    transition: $hover-transition;
  }
}

img {
  width: 40%;
  border-radius: 4px;
  margin: 15px 0;
  align-self: center;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin: 10px 0;
  }
}

a {
  text-decoration: none;
  color: $primary-bg-color;

  &:hover {
    color: $primary-hover-color;
    transition: $hover-transition;
  }
}

button {
  align-self: center;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  margin: 15px 0;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  color: $secondary-color;

  &:hover {
    transition: $hover-transition;
  }
}

.reviews-section p {
  border: $primary-bg-color 0.5px solid;
  padding: 15px 10px;
  border-radius: 4px;
}

@media (max-width: 1200px) {

  header,
  section,
  footer {
    padding: 15px;
  }
}

@media (max-width: 992px) {

  header,
  section,
  footer {
    padding: 10px;
  }

  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {

  header,
  section,
  footer {
    padding: 8px;
    text-align: left;
  }

  body {
    font-size: 12px;
  }
}

@media (max-width: 576px) {

  header,
  section,
  footer {
    padding: 5px;
    text-align: left;
  }

  body {
    font-size: 10px;
  }
}